/* 1st Stage */
.background-image {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    margin: 50px 140px;
    border-radius: 16px;
    width: 1320px;
    height: 600px;
}

#header-heading {
    padding-top: 177px;
    padding-left: 530px;
    width: 259px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
}

#header-description {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    height: 190px;
    padding-top: 16px;
    padding-left: 344px;
    padding-bottom: 177px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* 2nd Stage */
#discount {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-left: 608px;
    padding-top: 70px;
    margin: 0px;
}

#discount-description {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 602px;
    padding-top: 48px;
    margin: 0px;
}

#all-catagory {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin: 0px;
    padding-top: 16px;
    padding-left: 595px;
}

#Happy-new-year-vector {
    width: 802px;
    height: 500px;
    margin: 0px;
    padding-top: 48px;
    padding-left: 400px;
}

/* welcome part */

.welcome-bg-image {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Vectorrr.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 120px 140px;

}

#midnight-party {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-left: 126px;
    padding-top: 126px;
    width: 642px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#midnight-party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    width: 697px;
    padding-left: 126px;
    padding-top: 24px;
    margin-top: 0px;
}

#midnight-party-join {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 158px;
    padding-top: 48px;
    margin: 0px;

}

#flex {
    display: flex;
}

#new-year {
    align-items: center;
    padding-top: 68px;
    padding-left: 40px;
    height: 465px;
    width: 320px;
}

/* section event */

#bg-color-event {
    width: 1320px;
    height: 482px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin-top: 188px;
}

#bg-color-event-place {
    text-align: center;
    padding-top: 100px;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 56px;
    width: 550px;
    height: 170px;
    padding-left: 385px;
}

#bg-color-event-place p {
    margin: 0px;
}

.red {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

#join-now{
    margin: 0px;
    margin-right: 140px;
    padding-top: 48px;
    padding-left: 576px;
}
#join-now-button {

    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: #F00;
    height: 56px;
    width: 167px;
}
#join-text{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* offer section */